* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	line-height: 1.65;
	padding-bottom: 1000px;
}

/* Navbar */
nav {
	display: flex;
	background-color: rgb(180, 78, 232);
	justify-content: space-around;
	padding: 20px 0;
	color: rgb(234, 192, 255);
	height: 30px;
	align-items: center;
}

nav.logo {
	font-family: 'Pacifico' cursive;
	letter-spacing: 3px
}

nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;
}

nav ul li a {
	color: rgb(234, 192, 255);
	text-decoration: none;
	font-size: 0.8em;
}

.container-satu {
	max-width: 1920px;
	margin: 0;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
}

.kolom-utama {
	flex: 3;
	order: 2;
	margin-bottom: 20px;
}

.sidebar-satu {
	flex: 2;
	order: 1;
}

.container-dua {
	max-width: 1920px;
	margin: 50px auto;
}

.layanan {
	padding: 20px;
	box-sizing: border-box;
	margin bottom: 20px;
}

.layanan.satu {background-color: rgb(255, 105, 180);}
.layanan.dua {background-color: pink; }
.layanan.tiga {background-color: rgb(240, 128, 114);}

@media (min-width: 600px) {
	.container-dua {
		display: flex;
		justify-content: space-between;
	}
	
	.layanan {
		width: 30%
	}
}
